.modifyPerson {
    display: flex;
    gap: 127px;
    width: 100%;
    height: 100%;
    padding: 72px 20px;
}

.modifyPerson .firstSection {
    width: 900px;
    height: 100%;
    padding: 72px;
    display: flex;
    flex-direction: column;

    background: #292929;
    border: 1px solid rgba(238, 238, 238, 0.05);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}


.modifyPerson .firstSection>span {
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 38px;

    background: linear-gradient(272.56deg, #8EC5FC -13.13%, #E0C3FC 42.75%, #FAE69F 82.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.modifyPerson .firstSection .inputLabel {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #eeeeee;
    text-align: start;
}

.modifyPerson .firstSection .inputContainer {
    display: flex;
    flex-direction: column;
    width: 710px;
    gap: 8px;
}

.modifyPerson .firstSection .buttonsSection {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 16px;
    width: 700px;
}

.modifyPerson .secondSection .buttonsSection .primaryGrandientButton {
    height: 50px !important;
    border-radius: 20px;

}