.loginModalContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  padding: 0 !important;
}

.loginModalContent .firstSection {
  background: rgba(238, 238, 238, 0.05);
  height: 100%;
  padding: 72px;
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 38px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.loginModalContent .firstSection .imageContainer {
  margin-top: 96px;
  width: 100%;
  display: flex;
  justify-content: end;
}

.loginModalContent .secondSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginModalContent .secondSection .inputLabel {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #eeeeee;
}

.loginModalContent .secondSection .inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 75%;
}

.loginModalContent .secondSection .inputContainer input::placeholder {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.loginModalContent .secondSection .inputContainer .inputError {
  margin-top: 0.1rem;
}

.loginModalContent .secondSection .inputContainer--error {
  margin-bottom: -34px;
}

.loginModalContent .secondSection .buttonsSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 5.6rem;
  width: 75%;
}

.loginModalContent .secondSection .buttonsSection > button {
  border-radius: 1.25rem;
  height: 3.125rem;
}
