.createFilmsContainer {
    display: flex;
    align-items: flex-start;
    text-align: start;
    font-family: 'Plus Jakarta Sans';
    width: 1100px;
    background: #292929;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    margin: auto;

}

h1 {
    color: rgba(255, 253, 253, 0.65);
    font-size: 20px;
}

label {
    margin: 10px 0;
}

h2 {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    font-weight: 800;
}

p {
    color: rgba(255, 255, 255, 0.45);
    font-size: 13px;
}

.createFilmsContainer .firstSectionFilms {
    height: 100%;
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.createFilmsContainer .firstSectionFilms .inputContainerFilms {
    display: flex;
    flex-direction: column;
}

.ContainerButtonFilms {
    display: flex;
    justify-content: space-between;

}

.ContainerButtonFilms button {
    margin-top: 40px;
    border-radius: 20px;
    border: none;
    width: 168px;
    height: 50px;
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.ContainerButtonFilms button:nth-child(2) {
    opacity: 0.5;
    transition: 0.3s all ease-in-out;
}

.ContainerButtonFilms button:hover {
    opacity: 1;
}