.dontKnowWhatToWatchContainer {
  margin-top: 5rem;
  margin-bottom: 3rem
}


.dontKnowWhatToWatchgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template: auto;
  gap: 25px;
  padding-bottom: 20px;
}

.arrowForward {
  color: #fff;
}

.categoryButton:hover > .arrowForward{
  color: #FFFF00 !important;
}

.labelSection {
  font-size: 25px;
  color: #fff
}



.dontKnowWhatToWatch .labelSection {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}


.dontKnowWhatToWatchgrid .categoryButton {
  width: 180px;
  height: 60px;

  background: #292929;
  border: 1px solid rgba(238, 238, 238, 0.05);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding-left: 22px;
  padding-right: 22px;
}
